## Build generated
*.xcodeproj/GeneratedModuleMap/
build/
DerivedData
Mockingbird*.pkg
Mockingbird*.zip
MockingbirdCli*.pkg
MockingbirdCli*.zip
MockingbirdSupport.zip
Mockingbird-*.framework
bin/
var/
MockingbirdSupport/
## Mockingbird generated
*.generated.swift
*.xcodeproj/MockingbirdCache/*.lock

__Snapshots__/
*.xcuserstate
*/xcuserdata/*
CodeGen/Generated